@import "base/*";

.sf-CompleterWrapper_PositionFixer {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sf-Completer {
  display: flex;
  position: relative;

  padding: 0;

  width: 95%;
  margin: 0 auto;

  list-style: none;
  background-color: $sol_base02;
  color: $sol_base2;
  border: 1px solid $sol_base01;
}

.sf-CompleterItem {
  flex: 0 0 5em;

  margin: 0;
  padding: $smallSpace;

  border-top: 1px solid $sol_base01;
  border-bottom: 1px solid $sol_base01;

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &.sf-CompletorItem-selected {
    color: $sol_blue;
  }
}
