@import "base/*";

.sf-CompletionList {
  padding: $smallSpace;

  max-height: 20rem;
  overflow-y: auto;
}

.sf-CompletionList_ListContainer {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  border: 1px solid $sol_base01;
}

.sf-CompletionList_ItemContainer {
  flex: 0 0 auto;

  border-top: 1px solid $sol_base01;
  padding: $smallSpace;

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &.sf-CompletionList_ItemContainer-selected {
    background-color: $sol_base3;
    color: $sol_base03;
  }
}
