@import "base/*";

.sf-DialogBase {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  display: grid;

  justify-content: center;
  align-content: center;

  z-index: 2;
}

.sf-DialogBase_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.sf-DialogBase_ContentContainer {
  display: grid;
  grid-template-rows: max-content min-content;

  /* border and shadows */
  @include base-box-shadow;
}

.sf-DialogBase_Header {
  border: 1px solid white;
  background-color: $sol_base3;
  color: $sol_base02;

  padding: $smallSpace 0;
  font-size: $baseFontSize;
}

.sf-DialogBase_Body {
  border: 1px solid white;
  border-top: none;
}
