@import "base/*";

.sf-DialogBase {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  display: grid;

  z-index: 1;
}

.sf-DialogBase_Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.sf-DialogBase_ContentContainer {
  position: relative;
  display: grid;
  grid-template-rows: max-content;

  z-index: 2;

  &.sf-DialogBase_ContentContainer-horizontalCenter {
    justify-content: center;
  }

  &.sf-DialogBase_ContentContainer-verticalCenter {
    align-content: center;
  }
}
