@import "../../ui/commom-style/_colors.scss";
@import "../../ui/commom-style/_variables.scss";
@import "../../ui/commom-style/reset.module.css";

// Common style for the panels
.root-base {
  display: grid;
  grid-template-columns: 10em 1fr;

  align-items: center;
  padding: $baseSpace;
  margin: 0 $baseSpace;

  border-left: $smallSpace solid transparent;

  color: $sol_base3;
  background-color: $sol_base03;

  transition: background-color ease-out 150ms, color ease-out 150ms;

  &[aria-selected="true"] {
    color: $sol_base03;
    background-color: $sol_base3;
    border-left: $smallSpace solid $sol_red;
  }
}

// Base layout for overlay element.
.text-base {
}
