@import "../../ui/commom-style/_colors.scss";
@import "../../ui/commom-style/_variables.scss";
@import "../../ui/commom-style/reset.module.css";

// base layout for root element. This layout should use without change.
.root {
  composes: root-base from "./panel.module.scss";
}

// Base layout for overlay element.
.text {
  composes: text-base from "./panel.module.scss";
}

.labelContainer {
}

.input {
  padding: $smallSpace;
}
