@import "base/*";

.fp-FileItem {
  display: flex;

  align-self: center;
  list-style: none;

  color: $sol_base0;
  font-family: monospace;
  white-space: nowrap;

  font-size: 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  line-height: 1.25em;
}

.fp-FileItem.fp-FileItem-selected {
  background-color: $sol_base02;
}

.fp-FileItem.fp-FileItem-focused {
  border-bottom: 1px solid $sol_red;
}

.fp-FileItem.fp-FileItem-marked {
    background-color: $sol_magenta;
    color: $sol_base3;
}

.fp-FileItem_FileName {
  flex: 1 0 auto;
  padding: 0;
  font-weight: bold;
}

.fp-FileItem_FileName-Directory {
  color: $sol_yellow;
}

.fp-FileItem_FileName-Symlink {
  color: $sol_orange;
}

.fp-FileItem_FileSize {
  flex: 0 1 auto;
  padding: 0 $baseSpace;
  text-align: right;

  white-space: pre;
}

.fp-FileItem_FileMode {
  flex: 0 1 auto;
  padding: 0 $smallSpace;

  white-space: nowrap;
}

.fp-FileItem_Timestamp {
  flex: 0 1 auto;
  padding: 0 $smallSpace;
  text-align: right;

  white-space: nowrap;
}
