@import "base/_colors";

.fp-FileItem {
  justify-content: center;
  list-style: none;

  color: $sol_base0;
  font-family: monospace;
}

.fp-FileItem-selected {
  background-color: $sol_base02;
}

.fp-FileItem-Directory {
  color: $sol_blue;
}

.fp-FileItem_FileName {
  padding: 0.25em 0;
  font-weight: bold;
}

.fp-FileItem_FileSize {
  padding: 0.25em 0.5em;
  text-align: right;
}

.fp-FileItem_FileMode {
  padding: 0.25em 0;
  white-space: nowrap;
}

.fp-FileItem_FileMode-Symlink {
  color: $sol_orange;
}

.fp-FileItem_Timestamp {
  padding: 0.25em 0.5em;
  text-align: right;
}
