@import "base/*";

.fp-FileList {
  display: grid;
  grid-template-rows: repeat(auto-fill, $fontSize + ($nanoSpace * 2));
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: $smallSpace;

  border-bottom: 1px solid $sol_base2;
}

.fp-FileList_Header {
  flex: 0 0 auto;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  color: $sol_base1;
  background-color: $sol_base01;
  font-family: monospace;
}

.fp-FileList_Header.is-selected {
  color: $sol_yellow;
}
