@import "../commom-style/reset.module.css";

// base layout for root element. This layout should use without change.
.root-base {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;

  &[aria-hidden="true"] {
    display: none;
  }
}

// Base layout for overlay element.
.overlay-base {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;
}

// Base layout for madal elemenrt.
.container-base {
  z-index: 2;
}
