@import "../../ui/commom-style/_colors.scss";
@import "../../ui/commom-style/_variables.scss";
@import "../../ui/commom-style/reset.module.css";

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: $sol_base1;
  overflow: hidden;
  background-color: $sol_base03;

  font-size: 1rem;
}

.fp-FileList_Header {
  flex: 0 0 auto;
  padding: $smallSpace 0;
  margin: 0;

  font-weight: bold;
  color: $sol_base1;
  background-color: $sol_base03;
  font-family: monospace;

  border-bottom: 1px solid $sol_base01;
}

.fp-FileList_Header-selected {
  color: $sol_yellow;
}

.fp-FileList {
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  border-right: 1px solid $sol_base0;

  &:last-of-type {
    border-right: none;
  }
}

.fp-FileList_Content {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid $sol_base2;

  background-color: $sol_base03;
  font-size: 1rem;
}
