@import "../../ui/commom-style/_colors.scss";
@import "../../ui/commom-style/_variables.scss";
@import "../../ui/commom-style/reset.module.css";

.root {
  display: grid;
  grid-template-rows: calc( #{$baseSpace} * 2 + 1rem ) 1fr;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: $sol_base1;
  overflow: hidden;
  background-color: $sol_base03;

  font-size: 1rem;
}

.resizeContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  flex: 0 0 auto;
  padding: $baseSpace 0;
  margin: 0;

  font-weight: bold;
  color: $sol_base1;
  background-color: $sol_base03;
  font-family: monospace;

  border-bottom: 1px solid $sol_base01;

  &[data-focused="true"] {
    color: $sol_yellow;
  }

}

.list {
  composes: list-base from "../../ui/list/list.module.scss";

  font-size: 1rem;
  border-right: 1px solid $sol_base0;

  &:last-of-type {
    border-right: none;
  }
}

.empty {
  flex: 1 1 auto;
  margin: auto 0;
  text-align: center;

  color: $sol_red;

  &:after {
    content: "no any node";
    font-family: monospace;
  }
}
