@import "../commom-style/reset.module.css";

.container {
  display: grid;
}

// 12 grid
.directionRow {
  grid-template-rows: repeat(12, 1fr);
}

// 12 grid
.directionColumn {
  grid-template-columns: repeat(12, 1fr);
}

.spacing0 {
  grid-gap: 0px;
}

.spacing8 {
  grid-gap: 8px;
}

.spacing16 {
  grid-gap: 16px;
}

.spacing24 {
  grid-gap: 24px;
}

.spacing32 {
  grid-gap: 32px;
}

.spacing40 {
  grid-gap: 40px;
}

// alignment classes
.alignItemsFlexStart {
  align-items: flex-start;
}

.alignItemsFlexEnd {
  align-items: flex-end;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsStretch {
  align-items: stretch;
}

.alignItemsBaseline {
  align-items: baseline;
}

// justify classes
.justifyFlexStart {
  justify-content: flex-start;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceEvenly {
  justify-content: space-evenly;
}
