.main-container__root {
  position: relative;
  max-width: 100%;
  min-width: 0;
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(var(--color-base03));
  display: grid;
  grid-template-rows: 1fr 10% auto;
}
