@import "base/*";
@import "./_dialog";

.dialog-ConfirmDialog_Header {
  @include layout-dialog-header;
}

.dialog-ConfirmDialog_Body {
  background-color: $sol_base02;
  color: $sol_base2;

  padding: $baseSpace;

  display: grid;
  grid-template-rows: max-content;
  grid-gap: $baseSpace;

  font-size: 1rem;
}

.dialog-ConfirmDialog {
  @include layout-dialog-base;
}

.dialog-ConfirmDialog_ButtonContainer {
  display: flex;
}

.dialog-ConfirmDialog_Button {
  flex: 1 1 auto;
  padding: $nanoSpace $smallSpace;
  margin: 0 $baseSpace;

  border: 1px solid white;

  text-align: center;
}

.dialog-ConfirmDialog_Button.dialog-ConfirmDialog_Button-selected {
  background-color: $sol_cyan;
  color: $sol_base03;
}
