@import "base/*";

// completion list item

.dialog-HistoryDialogCompleter_Item {
  display: flex;
  flex-direction: row;
}

.dialog-HistoryDialogCompleter_ItemLabel {
  flex: 1 1 auto;
  text-align: left;

  font-size: 1rem;

  margin-top: $nanoSpace;
  margin-right: $smallSpace;
}
