@import "base/*";

$jumpDialogTopPosition: 7em;

.dialog-JumpDialog {
  /* box-shadow */
  @include base-box-shadow;

  display: flex;
  flex-direction: column;
  background-color: $sol_base02;
  color: $sol_base2;

  padding: $smallSpace;
  font-family: monospace;

  position: relative;
  top: $jumpDialogTopPosition;

  border: 1px solid $sol_base00;

  border-radius: $smallSpace;
}

.dialog-JumpDialog_InputContainer {
  display: flex;
  flex: 0 0 auto;

  align-items: center;
}

.dialog-JumpDialog_Input {
  flex: 1 1 auto;
  width: $baseFontSize * 30;

  font-size: 1.5rem;
}

.dialog-JumpDialog_InputLabel {
  flex: 1 1 auto;
  margin-right: $smallSpace;
}

.dialog-JumpDialog_TextContainer {
  flex: 1 1 auto;

  margin-top: $smallSpace;
  text-align: right;
}
