@import "base/*";

.dialog-JumpDialog {
  display: flex;
  flex-direction: column;
  background-color: $sol_base02;
  color: $sol_base2;

  padding: 1em;
  font-size: $baseFontSize;
}

.dialog-JumpDialog_InputContainer {
  display: flex;
  flex: 0 0 auto;
  padding: 0.5em;
  padding-top: 0;
}

.dialog-JumpDialog_Input {
  flex: 1 1 auto;
  width: $baseFontSize * 30;
}

.dialog-JumpDialog_InputLabel {
  flex: 1 1 auto;
}

.dialog-JumpDialog_TextContainer {
  flex: 1 1 auto;

  padding: 0.5em;
  padding-bottom: 0;
}
