@import "base/*";
@import "./_dialog";

$NameInputDialogTopPosition: 7em;

.dialog-NameInputDialog_Header {
  @include layout-dialog-header;
}

.dialog-NameInputDialog_Body {
  display: flex;
  flex-direction: column;
  background-color: $sol_base02;
  color: $sol_base2;

  padding: $baseSpace;
  font-size: $baseFontSize;
}

.dialog-NameInputDialog {
  @include layout-dialog-base;
  @include box-shadow-medium;

  position: relative;
  top: $NameInputDialogTopPosition;
}

.dialog-NameInputDialog_InputContainer {
  display: flex;
  flex: 0 0 auto;
  padding: $smallSpace;
  padding-top: 0;

  align-items: center;
}

.dialog-NameInputDialog_Input {
  flex: 1 1 auto;
  width: $baseFontSize * 30;
}

.dialog-NameInputDialog_InputLabel {
  flex: 1 1 auto;
  margin-right: $smallSpace;
}

.dialog-NameInputDialog_TextContainer {
  flex: 1 1 auto;

  padding: $smallSpace;
  padding-bottom: 0;

  text-align: right;
}
