@import "base/*";
@import "./_dialog";

$PermissionDialogTopPosition: 7em;

.dialog-PermissionDialog_Header {
  @include layout-dialog-header;
}

.dialog-PermissionDialog_Body {
  display: flex;
  flex-direction: column;
  background-color: $sol_base02;
  color: $sol_base2;

  padding: $baseSpace;
  font-size: $baseFontSize;
}

.dialog-PermissionDialog {
  @include layout-dialog-base;
  @include base-box-shadow;

  position: relative;
  top: $PermissionDialogTopPosition;
}

.dialog-PermissionDialog_PermissionViewer {
  border-collapse: collapse;

  font-size: 1rem;
}

.dialog-PermissionDialog_PermissionCell {
  padding: $smallSpace;
}

.dialog-PermissionDialog_PermissionRow {

  &.dialog-PermissionDialog_PermissionRow-selected {
    background-color: $sol_blue;
    color: $sol_base3
  }
}

.dialog-PermissionDialog_TextContainer {
  flex: 1 1 auto;

  padding: $smallSpace;
  padding-bottom: 0;

  text-align: right;
}
