@import "base/*";

$fp-FileItemHeight: 1em + $nanoSpace;
$fp-NodePlanItemHeight: 1em + $smallSpace;
$fp-NotificationMessageWidth: 150px;

$fp-NotificationMessageBorderWidth: 3px;

$fp-NotifiedProgressItem_LabelSeparatorSize: 1px;
