@import "base/*";

.fp-FileItem {
  display: flex;

  align-self: center;
  list-style: none;

  color: $sol_base1;
  font-family: monospace;
  white-space: nowrap;

  font-size: 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  line-height: 1.24em;
}

.fp-FileItem.fp-FileItem-selected {
  border-bottom: 1px solid $sol_red;
}

.fp-FileItem.fp-FileItem-marked {
  background-color: rgba($sol_blue, 0.25);
}

.fp-FileItem_FileName {
  flex: 1 0 auto;
  padding: 0;
  font-weight: bold;

  &.fp-FileItem_FileName-directory {
    color: $sol_yellow;
  }

  &.fp-FileItem_FileName-symlink {
    color: $sol_orange;
  }

  &.fp-FileItem_FileName-marked {
    color: $sol_red;
  }
}

.fp-FileItem_FileSize {
  flex: 0 1 auto;
  padding: 0 $baseSpace;
  text-align: right;

  white-space: pre;
}

.fp-FileItem_FileMode {
  flex: 0 1 auto;
  padding: 0 $smallSpace;

  white-space: nowrap;
}

.fp-FileItem_Timestamp {
  flex: 0 1 auto;
  padding: 0 $smallSpace;
  text-align: right;

  white-space: nowrap;
}
