@import "base/*";

.fp-NodePlanItem {
  display: flex;

  align-self: center;
  list-style: none;

  color: $sol_base1;
  font-family: monospace;
  white-space: nowrap;

  font-size: 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &.fp-NodePlanItem-deleted {
    color: $sol_base3;
    background-color: $sol_red;
  }

  &.fp-NodePlanItem-remained {
    opacity: 0.7;
  }

  &.fp-NodePlanItem-appended {
    color: $sol_base03;
    background-color: $sol_green;
  }

  &.fp-NodePlanItem-conflicted {
    background-color: $sol_yellow;
  }
}

.fp-NodePlanItem_FileName {
  flex: 1 0 auto;
  padding: 0;
  font-weight: bold;
}

.fp-NodePlanItem_FileSize {
  flex: 0 1 auto;
  padding: 0 $baseSpace;
  text-align: right;

  white-space: pre;
}

.fp-NodePlanItem_FileMode {
  flex: 0 1 auto;
  padding: 0 $smallSpace;

  white-space: nowrap;
}

.fp-NodePlanItem_Operation {
  flex: 0 0 (1em + $smallSpace);

  font-family: monospace;
  padding-left: $nanoSpace;
}
