@import "base/*";
@import "./_variable";

.fp-NotificationContainer {
  position: relative;

  width: 100%;
  max-width: 100%;
}

.fp-NotificationList {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
  list-style: none;
  right:0;
  bottom: 0;
  width: $fp-NotificationMessageWidth;
}

.fp-NotificationList_Item {
  max-width: 100%;

  padding:  $baseSpace ($baseSpace * 2);
  margin:0;
  margin-right:$smallSpace;
  margin-bottom:$smallSpace;

  box-shadow: 4px 4px 7px rgba(black, 0.4), -4px 0px 7px rgba(black, 0.4);
}

.fp-NotificationList_Item.fp-NotificationList_Item-info {
  border: 3px solid darken($sol_blue, 20%);
  background-color: lighten($sol_blue, 20%);
  color: $sol_base02;

  border-radius: 5px;
}

.fp-NotificationList_Item.fp-NotificationList_Item-warning {
  border: 3px solid darken($sol_orange, 20%);
  background-color: lighten($sol_orange, 20%);
  color: $sol_base03;

  border-radius: 5px;
}

.fp-NotificationList_Item.fp-NotificationList_Item-error {
  border: 3px solid darken($sol_red, 30%);
  background-color: $sol_red;
  color: $sol_base2;

  border-radius: 5px;
}

.fp-NotificationList_ItemAnimation-enter {
  opacity: 0.01;
}

.fp-NotificationList_ItemAnimation-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.fp-NotificationList_ItemAnimation-exit {
  opacity: 1;
}

.fp-NotificationList_ItemAnimation-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}
