@import './_colors'

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

.entry
  display: flex
  width: 100%
  height: 100%

  margin: 0
  padding: 0

.main
  display: flex
  flex-direction: column
  flex: 1 1 auto
  height: 100%

  margin: 0
  padding: 0

  background-color: sol_base03

.file-panes
  display: flex
  flex: 1 1 auto
  flex-direction: row
  height: 70%

.left-pane
  flex: 1 1 50%
  height: 100%;

.right-pane
  flex: 1 1 50%
  height: 100%;

.console-pane
  flex: 1 1 30%;

.file-list
  flex: 1 1 auto
  height: 100%
  overflow: hidden

  border-bottom: 1px solid sol_base2

  &:first-of-type
    border-left: 1px solid sol_base2

.file-list__header
  flex: 0 0 auto
  padding: 0.2rem 0.5rem
  font-weight: bold
  color: sol_base1
  background-color: sol_base01
  font-family: monospace

  &.is-selected
    color: sol_yellow

.file-list__table
  flex: 1 1 auto
  margin: 0 1em
  width: 100%
  margin: 0
  padding: 0

  border-spacing: 0px

  &__col--mode
    width: 6em

.file-list__item
  justify-content: center

  list-style: none

  color: sol_base0
  font-family: monospace

  &--directory
    color: sol_blue


  &.is-selected
    background-color: sol_base02

  &__name
    padding: 0.25em 0
    font-weight: bold

  &__size
    padding: 0.25em 0.5em
    text-align: right

  &__mode
    padding: 0.25em 0
    white-space: nowrap

  &__mode--symlink
    color: sol_orange