.base {
    composes: list from "../components/ui/list/list.module.scss";
    border: 1px solid;
    padding: 1em;
}

.item {
    composes: listItem from "../components/ui/list-item/list-item.module.scss";
    padding: 8px;
    background-color: green;
}
