@import "../../ui/commom-style/reset.module.css";
@import "../../ui/commom-style/_colors.scss";
@import "../../ui/commom-style/_variables.scss";

// base layout for root element. This layout should use without change.
.root {
  composes: root-base from "../../ui/modal/modal.module.scss";
  overflow: hidden;
}

// Base layout for overlay element.
.overlay {
  composes: overlay-base from "../../ui/modal/modal.module.scss";

  background-color: rgba(black, 0.2);
}

// Base layout for madal elemenrt.
.container {
  composes: container-base from "../../ui/modal/modal.module.scss";
  flex: 0 1 auto;

  margin: 0px auto auto auto;
  width: 50%;
  max-height: 80%;

  border-radius: $smallSpace;
  background-color: $sol_base02;
}

.title {
  color: $sol_base03;
  background-color: $sol_base3;
  padding: $baseSpace;
  box-shadow: $headerShadow;
}

.itemContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: $smallSpace;
}

.inputContainer {
  display: flex;
  padding: $smallSpace;
  padding-bottom: $smallSpace + 2px;
  height: 1.5rem;
}

.input {
  flex: 1 1 auto;

  outline: none;
  border: 1px solid $sol_blue;

  font-size: 1rem;
  color: $sol_base3;
  background-color: $sol_base03;
}

.matching {
  border-radius: $nanoSpace;

  color: $sol_base03;
  background-color: $sol_yellow;
}

.list {
  composes: list-base from "../../ui/list/list.module.scss";
}

.listItem {
  composes: listItem-base from "../../ui/list-item/list-item.module.scss";
  padding: $smallSpace $baseSpace;
  color: $sol_base3;

  &[aria-selected="true"] {
    background-color: lighten($sol_base02, 10%);
  }
}

.rootAnimationEnter {
  transform: translateY(-100%);
}

.rootAnimationEnterActive {
  transform: translateY(0);
  transition: transform ease-out 200ms;
}

.rootAnimationExit {
  transform: translateY(0);
}

.rootAnimationExitActive {
  transition: transform ease-in 200ms;
  transform: translateY(-100%);
}


.overlayAnimationEnter {
  opacity: 0.1;
}

.overlayAnimationEnterActive {
  opacity: 1.0;
  transition: opacity ease-out 200ms;
}
