.theme__default {
  --base-font-size: 13.5px;
  --base-border-radius: 4px;
  --header-shadow: 0 7px 3px rgba(0, 0, 0, 0.2);
  --box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2), -4px 0 7px rgba(0, 0, 0, 0.2);
  --color-base03: 0, 43, 54;
  --color-base02: 7, 54, 66;
  --color-base01: 88, 110, 117;
  --color-base00: 101, 123, 131;
  --color-base0: 131, 148, 150;
  --color-base1: 147, 161, 161;
  --color-base2: 238, 232, 213;
  --color-base3: 253, 246, 227;
  --color-yellow: 181, 137, 0;
  --color-orange: 203, 75, 22;
  --color-red: 220, 50, 47;
  --color-magenta: 211, 54, 130;
  --color-violet: 108, 113, 196;
  --color-blue: 38, 139, 210; /* rgb(38, 139, 210) */
  --color-cyan: 42, 161, 152;
  --color-green: 133, 153, 0;
  --space-large: 16px;
  --space-base: 8px;
  --space-small: 4px;
  --space-nano: 2px;
}
