.decision-modal__inner-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  flex: 0 1 auto;
  overflow: hidden;
  margin: 0 auto auto auto;
  border-radius: 0 0 var(--space-small) var(--space-small);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.decision-modal__header {
  margin: 0;
  color: var(--color-decisionModal-headerText);
  background-color: var(--color-decisionModal-headerBackground);
  padding: var(--space-large);
  box-shadow: var(--header-shadow);
}

.decision-modal__panel-container {
  padding: var(--space-base);
  background-color: var(--color-decisionModal-panelBackground);
}

.decision-modal__panel {
  display: grid;
  grid-template-columns: 10em 1fr;
  align-items: center;
  padding: var(--space-base);
  margin: 0 $baseSpace;
  border-left: var(--space-small) solid transparent;
  color: var(--color-decisionModal-panelText);
  background-color: var(--color-decisionModal-panelBackground);
  transition: background-color ease-out 150ms, color ease-out 150ms;

  &[aria-selected="true"] {
    color: var(--color-decisionModal-panelSelectedText);
    background-color: var(--color-decisionModal-panelSelectedBackground);
    border-left: var(--space-small) solid var(--color-decisionModal-panelSelectedMarker);
  }
}

.decision-modal__label {
  margin: 0;
}

.decision-modal__input {
  padding: var(--space-small);
}
