.log-viewer__root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--color-logViewer-background);
  color: var(--color-logViewer-text);
  height: 100%;
  font-size: 1rem;
  overflow-x: auto;
  overflow-y: scroll;
  font-family: monospace;
}

.log-viewer__log-item {
  display: flex;
  flex-direction: row;
  padding: var(--space-nano) 0;
}

.log-viewer__item-level {
  flex: 0 0 4rem;
  white-space: pre;
  margin-right: 1rem;

  &[data-level="info"] {
    color: var(--color-logViewer-infoLevel);
  }

  &[data-level="warning"] {
    color: var(--color-logViewer-warningLevel);
  }

  &[data-level="error"] {
    color: var(--color-logViewer-errorLevel);
  }
}

.log-viewer__item-message {
  flex: 0 0 auto;
}
